*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-size: 62.5% ;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

//colors
$color_black: #242424;
$color_grey: #bababa;
/*************************
        HEADER 
*************************/
.header{
    &__toolbar{
        display: flex;
        
        &--logo{
          
           padding-top: .5rem;
        }
        &--icon{
            margin-right: 1rem;
        }
    }
}

/*************************
       FOOTER
*************************/
.footer{
    margin-top: 2rem;
    background: $color_black;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo img{
        height: 2rem;
        padding: 1rem;
    }
    &__copyright{
        flex-grow: 1;
        color: $color_grey;
        font-size: 1.2rem; 
    }
}